*{
    margin: 0;
    border: 0;
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: antiquewhite;
    min-height: 100vh;
}
.container{
    background-color: aliceblue;
    padding:2rem ;
    border-radius:15px ;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 2rem 0;
}

form select,button,input{
    width: 100%;
    outline: none;
    border-radius: 0.75rem;
}
button{
    background-color: blueviolet;
    color: azure;
    width:300px ;
    height:50px ;
    margin-top: 2rem;
    border-radius: 5px;
    color: antiquewhite;
    font-size: larger;
}
form input{
    border: 1px solid black;
    height: 30px;
    
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.select-container img{
    font-size: 1.75rem;
    max-width: 2rem;
}
.select-container{
    display:flex;
    width: 7rem;
    border-radius: 0.5rem;
    justify-self: center;
   align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}
.dropdown i{
    font-size: 1.75rem;
    margin-top: 10%;
}
.to p{
    font-size: larger;
    font-family:bold;
}
.from p{
    font-size: larger;
    font-family:bold;
    font-weight: 20px;
}
.msg{
    margin-top: 20px;
}
.amount p{
    margin-bottom: 1rem;
    font-size: larger;
    font-style:inherit;
}